<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Category</title>
  <link rel="stylesheet" href="/css/createCategory.css">
</head>
<body>
  <div class="container">
    <h1>Edit Category</h1>
    <form action="/admin/updateCategory/<%= category._id %>" method="POST">
      <div>
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name" value="<%= category.name %>" required>
      </div>
      
      <div>
        <label for="description">Category Description:</label>
        <input type="text" id="description" name="description" value="<%= category.description %>" required>
      </div><br><br>
      <!-- Add more fields here if needed -->
    
      <button type="submit" class="submit-btn">Update Category</button>
    </form>
    
  </div>
</body>
</html>
