<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Reset Password</h2>
            <form action="/user/changePassword" method="POST" onsubmit="return passValidation () ">
                <div class="input-group">
                    <label for="new-password">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm New Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div id="pass-checker" style="display: none; color: red; font-size: 2px;"></div>
                <!-- <div id="checker" style="display: none; color: red;"></div> -->
                <div class="input-group">
                    <button type="submit">Change Password</button>
                </div>
                <p><a class="verify" href="/user/login">Back to Login</a></p>
            </form>
        </div>
    </div>
    <script>
        function passValidation (){
            const validate =  /^(?=.*[A-Za-z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/
            const newPassword = document.getElementById('newPassword').value
            const passChecker = document.getElementById('pass-checker')


            if(!validate.test(newPassword)){
                passChecker.innerText='Password must be at least 8 characters long and include uppercase, lowercase, number, and special character.'
                passChecker.style.display="block"
                setTimeout(()=>{
                    passChecker.innerText=''
                    passChecker.style.display='none'
                },3000)
                return false
            }
            return true
        }

        function pass(){
            const newPassword = document.getElementById('newPassword').value
            const confirmPassword = document.getElementById('confirmPassword').value
            const checker = document.getElementById('checker')
            if(newPassword !== confirmPassword){
                checker.innerText="password do not match"
                checker.display.style='block'
                setTimeout(()=>{
                    checker.innerText=''
                    checker.display.style='none'
                },3000)
                return false
            }
            return true
        }
    </script>
</body>
</html>
